ul {
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

ul, li, .superstars {
  display: flex;
}

li {
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 0.5em;
  max-width: 18em;
  color: white;
  border-radius: 1em;
  border-width: 1px;
  border-style: solid;
  transition: transform .2s;
}

li:hover {
  transform: scale(1.1);
}

li div {
  min-width: 0;
}

ul, h3 {
  margin-top: 1em;
}

h3 {
  text-shadow: 1px 1px 5px black;
}

h5 {
  font-weight: bold;
}

.title {
  margin-bottom: auto;
}

img {
  width: 100%;
  transition: all .2s;
}

img:hover {
  -webkit-filter: drop-shadow(0 0 3px white);
  filter: drop-shadow(0 0 3px white);
}


@media only screen and (max-width: 768px) {
  ul {
    margin: 0;
  }
}
