.main {
  display: flex;
  flex-direction: column;
  margin: 2em;
  border-style: solid;
  border-radius: 1em;
  text-align: center;
  -webkit-filter: drop-shadow(0 0 6px white);
  filter: drop-shadow(0 0 6px white);
}

.data {
  margin-bottom: 1em;
  filter: brightness(65%);
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 2px;
  padding: 1em;
  font-weight: bold;
}

.main, .data {
  border-color: white;
}

h1 {
  font-weight: bold;
}

img {
  margin: auto;
  width: 60%;
}

button {
  margin: auto;
  margin-bottom: 2em;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  h1, .data {
    font-size: 0.8em;
  }

  .data {
    font-size: 4vw;
  }

}
