div {
  display: flex;
  flex-direction: column;
  margin: 2em;
  border-style: solid;
  border-color: white;
  border-radius: 1em;
}

h2 {
  font-weight: bold;
  text-align: center;
}

img {
  margin: auto;
  width: 60%;
}

button {
  margin: auto;
  margin-bottom: 2em;
  display: inline-block;
}

button:hover {
  text-decoration: underline;
}
